.header {
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

.logoHeader {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-size: 30px;
        color: white;
    }
}

.navHeader {
    width: 30%;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    .link {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }
}

.barraDeBusca {
    border: 2px solid #FFFFFF;
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin-right: 1%;

    input {
        background-color: transparent;
        border: none;
        width: 60%;
        height: 5vh;
        
        &::placeholder {
            font-size: 20px;
            color: #FFF;
        }
    }
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
